body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: -apple-system, raleway, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  }
  a {
    color: #5334F5;
    font-weight: 600;
    text-decoration: none;
  }
  .Hero {
    height: 100%;
    background: linear-gradient(180deg, #244E5F 0%, #55BBE4 100%);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .Hero h1 {
    margin: 0;
    color: white;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 600;
    animation: HeroAnimation 3s 0.1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
    margin-bottom: 1em;
  }
  .Hero h2 {
    color: rgba(255,255,255, 0.8);
    font-size: 26px;
    line-height: 1.5;
    font-weight: 500;
    animation: HeroAnimation 3s 0.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
    margin-top: 1em;
    margin-bottom: 2em;
  }
.Hero a {
  color: white;
  text-decoration: underline;
}
  .Hero p {
    color: rgba(255,255,255, 0.8);
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
  }
  .Hero p a {
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background: linear-gradient(104deg, #F99EB8 0%, #FA5483 100%);
    padding: 9px 20px;
    border-radius: 20px;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  .Hero p a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    color: white;
    background: #244E5F;
    transform: translateY(-3px);
  }
  .HeroGroup {
    max-width: 720px;
    margin: 0 auto;
    padding: 150px 50px;
    text-align: center;
  }

  @media (max-width: 640px) {
    .HeroGroup {
      padding: 100px 20px;
    }
    .Hero h1 {
      font-size: 30px;
    }
    .Hero h2 {
      font-size:20px;
      margin-top: 0;
      margin-bottom: 2em;
    }
  }

@keyframes HeroAnimation {
  0% {
      opacity: 0;
      transform: translateY(20px)
  }
  100% {
      opacity: 1;
      transform: translateY(0px)
  }
}
.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}
@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}
.ContentGroup{
  max-width: 720px;
  margin: 0 auto;
  padding: 100px 50px;
  text-align: left;
}

@media (max-width: 640px) {
  .ContentGroup {
    padding: 50px 20px;
  }
  .ContentGroup.ContentTop {
    padding: 0 20px;
  }
  .ContentGroup h2 {
    font-size:20px;
  }
  .ContentGroup h3 {
    margin: 0;
  }
}

.ContentGroup h3 {
  margin: 40px 0;
  font-size: 30px;
  text-align: left;
  font-weight: 700;
  background: linear-gradient(104deg, #C6345D 0%, #EC2A61 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-end: 0.5em;
}

.ContentGroup p {
  margin-block-start: 0;
  color: #244E5F;
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

.ContentGroup li {
  margin: 18px 0;
  color: #244E5F;
  font-size: 26px;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
}

.ContentGroup em {
  color: #244E5F;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
  text-align: left;
}

.ImageBlock {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  justify-items: center;
}
@media (max-width: 720px) {
  .ImageBlock {
    grid-template-columns: 1fr;
  }
}

.ImageOverlap {
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: -20px;
  justify-items: center;
  align-items: end;
}

.Image {
  float:left;
  position: relative;
  width: 100%;
  align-items: end;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  
}
imageoverlap:nth-child(1) { 
  grid-column: 1 / 4; 
  grid-row: 1; 
    /* autoprefixer: off */
  z-index: -1; 
}
imageoverlap:nth-child(2) { 
  grid-column: 3 / 5; 
  grid-row: 1; 
    /* autoprefixer: off */
}

@media (max-width: 720px) {
  .ImageOverlap {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 20px;
  }
  imageoverlap:nth-child(1) { 
    grid-row: 1 / 4; 
      /* autoprefixer: off */
    grid-column: 1; 
  }
  imageoverlap:nth-child(2) { 
    grid-row: 4 / 5; 
  /* autoprefixer: off */
    grid-column: 1; 
  }
}
.FooterGroup {
  position: relative;
  max-width: 960px;
  width: 100%;
  padding: 90px 0;
  margin: 0 auto; 
}

.FooterTitleGroup {
  max-width: 800px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 3fr;
  margin: 0 40px;
  justify-items: end;


  @media (max-width: 640px) {
      grid-template-columns: 1fr 1fr auto;
      grid-gap: 10px;
      justify-items: center;
      margin: 0 20px;
  }
}

.FooterTitleGroup p {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.2;

  @media (max-width: 640px) {
      font-size: 12px;
  }
}
@keyframes TextAnimation {
  0% { 
      opacity: 0;
      }
  100% { 
      opacity: 100;
    }
  }
.BannerPrivacy {
  background-image: url("../images/hero-privacy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; 
  position: relative;
  align-items: start;
  justify-items: center;
  animation: BounceAnimation 3s .3s forwards cubic-bezier(0.1, 0.8, 1, 1);
}
.SectionTitleGroup {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90vh;
  grid-gap: 10px;
  place-items: end center;
  justify-items: center;
  opacity: 0;
  animation: TextAnimation 3s 1.3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.SectionTitle h3 {
  color: white;
  font-size: 24px;
  font-weight: 800;
  margin: 50px;

}